---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="my-20">
    <p class="mt-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="mt-6">
      Sed flavum. Stridore nato, Alcandrumque desint ostendit derat, longoque,
      eadem iunxit miserum pedum pectora. Liberat sine pignus cupit, ferit mihi
      venias amores, et quod, maduere haec gravi contentusque heros. Qui suae
      attonitas.
    </p>
    <p class="mt-6">
      Acta caelo ego, hoc illi ferroque, qui fluitque Achillis deiecerat erat
      inhospita arasque ad sume et aquis summo. Fugerat ipse iam. Funeris Iuno
      Danaos est inroravere aurum foret nati aeque tetigisset!
    </p>
  </div>
</MainLayout>
