---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>
  <div class="w-screen h-screen bg-gradient-to-tr from-green-700 to-lime-200 grid items-center justify-items-center">
    <p>Welcome!</p>
  </div>
</MainLayout>